bin
include
lib
.Python
.envrc
.env
__pycache__

.coverage
.pytest_cache
functional
performance

# notes perso
.TODO
.notes_Github


# hors sujet pour la branche de correctif
.server_version_finale
README.md