bin
include
lib
.Python
.envrc
.env
windowsenv
__pycache__

.coverage
htmlcov
.pytest_cache
functional


# notes perso
.TODO
.notes_Github

# hors sujet pour la branche de correctif
README.md