{% extends "base.html" %}
{% block title %}Booking for {{competition['name']}} || GUDLFT{% endblock %}

{% block main %}
    <h2>{{competition['name']}}</h2>
    <div class="content">
    <p>Places available: {{competition['numberOfPlaces']}}<br></p>
        <form action="{{url_for('bp.purchase_places')}}" method="post">
            <input type="hidden" name="club" value="{{club['name']}}">
            <input type="hidden" name="competition" value="{{competition['name']}}">
            <label for="places">How many places?</label><input type="number" name="places" id=""/>
            <button type="submit">Book</button>
        </form>
    </div>
{% endblock %}