{% extends "base.html" %}
{% block title %}Registration{% endblock %}

{% block main %}
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    Please enter your secretary email to continue:
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>

    <h2>Display Clubs Points Board :</h2>
    <a href="{{url_for('show_points_board')}}">Points Board</a><br>
     <!--nb : avec url_for c'est le nom de la fonction qu'on indique (pas l'url)-->
{% endblock %}