{% extends "base.html" %}
{% block title %}Summary | GUDLFT Registration{% endblock %}

{% block main %}
    <h2>Welcome, {{club['email']}} of {{club['name']}}</h2>
    <a href="{{url_for('bp.logout')}}">Logout</a><br>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}

    <h4>Points available for {{club['name']}}: {{club['points']}}</h4>

    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {%if comp['numberOfPlaces']|int >0%}
            <a href="{{ url_for('bp.book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>
    {%endwith%}
{% endblock %}